@model IEnumerable<Project2023.Models.Dept>

@{
    ViewData["Title"] = "الاقسام";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}



<p>
    <a asp-action="Create" class="btn btn-primary">اضافة</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeptName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HOD)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeptName)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HOD)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
