@model Project2023.Models.ProjectGroup

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProjectGroup</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project_ProjectGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project_ProjectGroup.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project_Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project_Student.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PQ1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PQ1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PQ2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PQ2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PQ3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PQ3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PQ4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PQ4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PQ5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PQ5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorGrade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorGrade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.committeGrade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.committeGrade)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
