@model IEnumerable<Project2023.Models.ProjectGroup>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Project_ProjectGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project_Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PQ1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PQ2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PQ3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PQ4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PQ5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorGrade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.committeGrade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Project_ProjectGroup.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project_Student.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PQ1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PQ2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PQ3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PQ4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PQ5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorGrade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.committeGrade)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
